<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" crossorigin src="/assets/vendor.3bd57d60.js"></script>
    <script type="module" crossorigin src="/assets/app.72cbbef7.js"></script>
    <link rel="stylesheet" href="/assets/app.c316c2cb.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="LEEPACK 3 - Trend View Live"
            url="http://10.10.10.111:9501/mqtt/3/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/gmk/k/leepack3',
                timefield: 'ts'
            }"
            :default-data="[{data: 'mc_run', text: 'MC Status (1: ON, 0: OFF)'}]"
            :columns="[
                {data: 'mc_run', text: 'MC Status (1: ON, 0: OFF)'},
                {data: 'filling_speed', text: 'Filling Speed'},
                {data: 'sv_speed_bpm', text: 'SV Speed BPM'},
                {data: 'pv_speed_bpm', text: 'PV Speed BPM'},
                {data: 'sv_bag', text: 'SV Bag'},
                {data: 'pv_bag', text: 'PV Bag'},
                {data: 'sv_filling_speed_rpm', text: 'SV Filling Speed'},
                {data: 'pv_filling_speed_rpm', text: 'PV Filling Speed'}
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="LEEPACK 3 - Trend View Historical"
            url="http://10.10.10.111:9501/trend/3/data"
            :default-data="[{data: 'mc_run', text: 'MC Status (1: ON, 0: OFF)'}]"
            :columns="[
                {data: 'mc_run', text: 'MC Status (1: ON, 0: OFF)'},
                {data: 'filling_speed', text: 'Filling Speed'},
                {data: 'sv_speed_bpm', text: 'SV Speed BPM'},
                {data: 'pv_speed_bpm', text: 'PV Speed BPM'},
                {data: 'sv_bag', text: 'SV Bag'},
                {data: 'pv_bag', text: 'PV Bag'},
                {data: 'sv_filling_speed_rpm', text: 'SV Filling Speed'},
                {data: 'pv_filling_speed_rpm', text: 'PV Filling Speed'}
            ]"></trend-view>

    </div>
    
</body>
</html>