<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" cross origin src="/assets/vendor.99495360.js"></script>
    <script type="module" cross origin src="/assets/app.1fb23f51.js"></script>
    <link rel="stylesheet" href="/assets/app.0ccc9b37.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="LME 1 - Trend View Live"
            url="http://10.10.10.111:9501/mqtt/7/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/gmk/k/lme1',
                timefield: 'ts'
            }"
          
            :columns="[
                {data: 'HMI_CE_ST_ConcProdTemp', text: 'Conche Product Temperatur(°C)'},
                {data: 'HMI_TK_ST_CoolTkTemp', text: 'Product CT Temperatur(°C)'},
                {data: 'HMI_TK_ST_HoldTkTemp', text: 'Product HT Temperatur(°C)'},
                {data: 'HMI_LME_ST_FeedPSpeed', text: 'LME500 FeedPump Speed (rpm)'},
                               {data: 'HMI_CUM_ST_MillSpeed', text: 'LME 500 Mill Speed (rpm)'},
                {data: 'HMI_LME_ST_MillCurrent', text: 'LME500 Mill Current (A)'},
                {data: 'HMI_LME_ST_InProdPres', text: 'LME500 Product Pressure (bar)'},
                {data: 'HMI_LME_ST_OutProdTemp', text: 'LME500 Product Temperature (°C)'},
                {data: 'LME_ST_MillMotor_Status', text: 'LME Motor 0=Off 1=Run 2=Fault'},
                {data: 'TK_ST_TksTransfPump_Status', text: 'Transfer Pump Status'},
                {data: 'LME_ST_FeedingPump_Status', text: 'Feed Pump Status'},
                
                {data: 'HMI_TK_ST_CoolTkAgit_status', text: 'CT Agitator Status'},
                {data: 'HMI_TK_ST_HoldTkAgit_status', text: 'HT Agitator Status'},
                {data: 'HMI_CE_ST_Conche_status', text: 'CE Motor Status'},
                {data: 'HMI_LME_ST_RecirPump_status', text: 'LME Recirc Pump Status'}
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="LME 1 - Trend View Historical"
            url="http://10.10.10.111:9501/trend/7/data"
           
            :columns="[
            {data: 'HMI_CE_ST_ConcProdTemp', text: 'Conche Product Temperatur(°C)'},
            {data: 'HMI_TK_ST_CoolTkTemp', text: 'Product CT Temperatur(°C)'},
            {data: 'HMI_TK_ST_HoldTkTemp', text: 'Product HT Temperatur(°C)'},
            {data: 'HMI_LME_ST_FeedPSpeed', text: 'LME500 FeedPump Speed (rpm)'},
            {data: 'HMI_CUM_ST_MillSpeed', text: 'LME 500 Mill Speed (rpm)'},
            {data: 'HMI_LME_ST_MillCurrent', text: 'LME500 Mill Current (A)'},
            {data: 'HMI_LME_ST_InProdPres', text: 'LME500 Product Pressure (bar)'},
            {data: 'HMI_LME_ST_OutProdTemp', text: 'LME500 Product Temperature (°C)'},
            {data: 'LME_ST_MillMotor_Status', text: 'LME Motor 0=Off 1=Run 2=Fault'},
            {data: 'TK_ST_TksTransfPump_Status', text: 'Transfer Pump Status'},
            {data: 'LME_ST_FeedingPump_Status', text: 'Feed Pump Status'},

            {data: 'HMI_TK_ST_CoolTkAgit_status', text: 'CT Agitator Status'},
            {data: 'HMI_TK_ST_HoldTkAgit_status', text: 'HT Agitator Status'},
            {data: 'HMI_CE_ST_Conche_status', text: 'CE Motor Status'},
            {data: 'HMI_LME_ST_RecirPump_status', text: 'LME Recirc Pump Status'}
            ]"></trend-view>

    </div>
    
</body>
</html>