<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" cross origin src="/assets/vendor.3bd57d60.js"></script>
    <script type="module" cross origin src="/assets/app.31ffec82.js"></script>
    <link rel="stylesheet" href="/assets/app.c316c2cb.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="LME 3 - Trend View Live"
            url="http://10.10.10.111:9501/mqtt/9/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/gmk/k/lme3',
                timefield: 'ts'
            }"
            :default-data="[{data: 'data6', text: 'Feed Pump Speed (RPM)'}]"
            :columns="[
                {data: 'data1', text: 'Mill Current'},
                {data: 'data3', text: 'Mill Inlet Pressure'},
                {data: 'data4', text: 'Mill Outlet Pressure'},
                {data: 'data6', text: 'Feed Pump Speed'},
                {data: 'data8', text: 'Mill Rotation Speed'},
                {data: 'data9', text: 'Product Output Temperature'},
                        ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="LME 3 - Trend View Historical"
            url="http://10.10.10.111:9501/trend/9/data"
            :default-data="[{data: 'data6', text: 'Feed Pump Speed (RPM)'}]"
            :columns="[
                 {data: 'data1', text: 'Mill Current'},
                {data: 'data3', text: 'Mill Inlet Pressure'},
                {data: 'data4', text: 'Mill Outlet Pressure'},
                {data: 'data6', text: 'Feed Pump Speed'},
                {data: 'data8', text: 'Mill Rotation Speed'},
                {data: 'data9', text: 'Product Output Temperature'},
            ]"></trend-view>

    </div>
    
</body>
</html>