<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" cross origin src="/assets/vendor.61aad8a9.js"></script>
    <script type="module" cross origin src="/assets/app.168c1939.js"></script>
    <link rel="stylesheet" href="/assets/app.e753fb03.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="LME 3 - Trend View Live"
            url="http://10.10.10.111:9501/mqtt/9/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/gmk/k/lme3',
                timefield: 'ts'
            }"
           
            :columns="[
                {data: 'data1', text: 'Mill Current (a)'},
                {data: 'data3', text: 'Mill Inlet Pressure (bar)'},
                {data: 'data4', text: 'Mill Outlet Pressure (bar)'},
                {data: 'data6', text: 'Feed Pump Speed (rpm)'},
                {data: 'data8', text: 'Mill Motor Speed (rpm)'},
                {data: 'data9', text: 'Product Output Temperature (°C)'},
                {data: 'IHM_ST_Moinho_status', text: 'LME Motor 0=Off 1=Run 2=Fault'},
                {data: 'temp_chilled_water_in', text: 'Temperature Chilled Water In (°C)'},
                {data: 'temp_chilled_water_out', text: 'Temperature Chilled Water Out (°C)'},
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="LME 3 - Trend View Historical"
            url="http://10.10.10.111:9501/trend/9/data"
            
            :columns="[
                {data: 'data1', text: 'Mill Current (a)'},
                {data: 'data3', text: 'Mill Inlet Pressure (bar)'},
                {data: 'data4', text: 'Mill Outlet Pressure (bar)'},
                {data: 'data6', text: 'Feed Pump Speed (rpm)'},
                {data: 'data8', text: 'Mill Motor Speed (rpm)'},
                {data: 'data9', text: 'Product Output Temperature (°C)'},
                {data: 'IHM_ST_Moinho_status', text: 'LME Motor 0=Off 1=Run 2=Fault'},
                {data: 'temp_chilled_water_in', text: 'Temperature Chilled Water In (°C)'},
                {data: 'temp_chilled_water_out', text: 'Temperature Chilled Water Out (°C)'},
            ]"></trend-view>

    </div>
    
</body>
</html>