<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" crossorigin src="/assets/vendor.3bd57d60.js"></script>
    <script type="module" crossorigin src="/assets/app.c907bdb0.js"></script>
    <link rel="stylesheet" href="/assets/app.c316c2cb.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Refiner Trend View Live"
            url="http://10.10.10.111:9501/mqtt/2/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/gmk/k/pkp1'
            }"
            :default-data="[{data: 'ai_refiner[0]', text: 'Temp Cooling Tank 1''}]"
            :columns="[
                {data: 'ai_refiner[0]', text: 'Temp Cooling Tank 1'},
                {data: 'ai_refiner[1]', text: 'Temp Holding Tank 1'},
                {data: 'ai_refiner[2]', text: 'Temp Cooling Tank 5'},
                {data: 'ai_refiner[3]', text: 'Temp Holding Tank 6'},
                {data: 'ai_refiner[4]', text: 'Temp Cooling Tank LM3'},
                {data: 'ai_refiner[5]', text: 'Temp Holding Tank LM3'},

                {data: 'di_refiner[0]', text: 'Cooling Tank 1 Run'},
                {data: 'di_refiner[1]', text: 'Hold Tank 1 Run'},
                {data: 'di_refiner[2]', text: 'Cooling Tank 5 Run'},
                {data: 'di_refiner[3]', text: 'Hold Tank 6 Run'},
                {data: 'di_refiner[4]', text: 'Cooling Tank LM3 Run'},
                {data: 'di_refiner[5]', text: 'Holding Tank LM3 Run'}
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="Refiner Trend View Historical"
            url="http://10.10.10.111:9501/trend/2/data"
            :default-data="[{data: 'ai_refiner[0]', text: 'Temp Cooling Tank 1'}]"
            :columns="[
                {data: 'ai_refiner[0]', text: 'Temp Cooling Tank 1'},
                {data: 'ai_refiner[1]', text: 'Temp Holding Tank 1'},
                {data: 'ai_refiner[2]', text: 'Temp Cooling Tank 5'},
                {data: 'ai_refiner[3]', text: 'Temp Holding Tank 6'},
                {data: 'ai_refiner[4]', text: 'Temp Cooling Tank LM3'},
                {data: 'ai_refiner[5]', text: 'Temp Holding Tank LM3'},

                {data: 'di_refiner[0]', text: 'Cooling Tank 1 Run'},
                {data: 'di_refiner[1]', text: 'Hold Tank 1 Run'},
                {data: 'di_refiner[2]', text: 'Cooling Tank 5 Run'},
                {data: 'di_refiner[3]', text: 'Hold Tank 6 Run'},
                {data: 'di_refiner[4]', text: 'Cooling Tank LM3 Run'},
                {data: 'di_refiner[5]', text: 'Holding Tank LM3 Run'}
            ]"></trend-view>

    </div>
    
</body>
</html>