<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" crossorigin src="/assets/vendor.48758b4e.js"></script>
    <script type="module" crossorigin src="/assets/app.5c1790ae.js"></script>
    <link rel="stylesheet" href="/assets/app.5c01081d.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="PKU Pannel Trend View Live"
            url="http://10.10.10.111:9501/mqtt/11/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/gmk/salsa3000/parameter_group1',
                timefield: 'ts'
            }"
      
            :columns="[

            {data: 'mill_status', text: 'Mill Status'},
            {data: 'mill_max_speed', text: 'Mill Max Speed'},
            {data: 'mill_speed', text: 'Mill Speed'},
            {data: 'mill_curent', text: 'Mill Curent'},
            {data: 'mill_power', text: 'Mill Power'},
            {data: 'sealpump_status', text: 'Sealpump Status'},
            {data: 'feedpump_status', text: 'Feedpump Status'},
            {data: 'feedpump_maxspeed', text: 'Feedpump Max Speed'},
            {data: 'feedpump_minspeed', text: 'Feedpump Min Speed'},
            {data: 'feedpump_speed', text: 'Feedpump Speed'},
            {data: 'feedpump_current', text: 'Feedpump Current'},
            {data: 'feedpump_power', text: 'Feedpump Power'},
            {data: 'agitator_status', text: 'Agitator Status'},
            {data: 'agitator_maxspeed', text: 'Agitator Max Speed'},
            {data: 'agitator_minspeed', text: 'Agitator Min Speed'},
            {data: 'agitator_speed', text: 'Agitator Speed'},
            {data: 'agitator_current', text: 'Agitator Current'},
            {data: 'agitator_power', text: 'Agitator Power'},

            {data: 'dischpump_status', text: 'Disch Pump Status'},
            {data: 'dischpump_maxspeed', text: 'Disch Pump Max Speed'},
            {data: 'dischpump_minspeed', text: 'Disch Pump Min Speed'},
            {data: 'dischpump_speed', text: 'Disch Pump Speed'},
            {data: 'dischpump_current', text: 'Disch Pump Current'},
            {data: 'dischpump_power', text: 'Disch Pump Power'},

            {data: 'general_machine_status', text: 'General Machine Status'},
            {data: 'general_energy', text: 'General Energy'},
            {data: 'product_pressure_inlet', text: 'Product Pressure Inlet'},
            {data: 'product_temperature_outlet', text: 'Product Temperature Outlet'},
            {data: 'cooling_water_flow', text: 'Cooling Water Flow'}

       ]"></trend-live>

        <trend-view v-if="active == 'history'"
                title="PKU Pannel View Historical"
                url="http://10.10.10.111:9501/trend/11/data"
                :default-data="[
                    {data: 'mixing_tank_product_temp', text: 'Mixing Tank Product Temperature'},
                    {data: 'cocoa_butter_melter_boiler_water_temperature', text: 'Cocoa Butter Melter Boiler Water Temperature'},
                    {data: 'fat_storage_tank_temperature', text: 'Fat Storage Tank Temperature'},
                    {data: 'lecithin_feed_tank_level', text: 'Lecithin Feed Tank Level'},
                    {data: 'process_tank_level', text: 'Process Tank Level'},
                ]"
                :columns="[
                    {data: 'mixing_tank_product_temp', text: 'Mixing Tank Product Temperature'},
                    {data: 'cocoa_butter_melter_boiler_water_temperature', text: 'Cocoa Butter Melter Boiler Water Temperature'},
                    {data: 'fat_storage_tank_temperature', text: 'Fat Storage Tank Temperature'},
                    {data: 'lecithin_feed_tank_level', text: 'Lecithin Feed Tank Level'},
                    {data: 'process_tank_level', text: 'Process Tank Level'},
                    {data: 'process_tank_temperature', text: 'Process Tank Temperature'},
                    {data: 'cleaning_fat_tank_pressure', text: 'Cleaning Fat Tank Pressure'},
                    {data: 'master_refiner_inlet_pressure', text: 'Master Refiner Inlet Pressure'},
                    {data: 'master_refiner_outlet_pressure', text: 'Master Refiner Outlet Pressure'},
                    {data: 'lobe_pump_outlet_pressure', text: 'Lobe Pump Outlet Pressure'},
                    {data: 'master_refiner_outlet_temperature', text: 'Master Refiner Outlet Temperature'},
                    {data: 'pump_inlet_pressure', text: 'Pump Inlet Pressure'},
                    {data: 'pump_outlet_pressure', text: 'Pump Outlet Pressure'},
                    {data: 'nt100_tank_temperature', text: 'NT100 Tank Temperature'},
                    {data: 'external_samba_outlet_temperature', text: 'External Samba Outlet Temperature'},
                    {data: 'sugar_current_weight', text: 'Sugar Current Weight'},
                    {data: 'cocoa_current_weight', text: 'Cocoa Current Weight'},
                    {data: 'nivel_lecitina_actual', text: 'Nivel Lecitina Actual'},

                    {data: 'rpm_cocoa_powder_dosage_rotary_valve', text: 'RPM Cocoa Powder Dosage Rotary Valve'},
                    {data: 'rpm_milk_powder_dosage_rotary_valve', text: 'RPM Milk Powder Dosage Rotaty Valve'},
                    {data: 'rpm_product_transference_pump', text: 'RPM Product Transference Pump'},
                    {data: 'rpm_mixing_tank_masterblend_3000_disperser', text: 'RPM Mixing Tank Mastrblend 3000 Dispenser'},
                    {data: 'rpm_external_samba', text: 'RPM External Samba'},
                    {data: 'rpm_fat_storage_tank_transference_pump', text: 'RPM Fat Storage Tank Transference Pump'},
                    {data: 'rpm_lecithin_add_tank_transference_pump', text: 'RPM Lecithin Add Tank Transference Pump'},
                    {data: 'rpm_lecithin_feed_tank_transference_pump', text: 'RPM Lecethin Feed Tank Transference Pump'},
                    {data: 'rpm_process_tank_agitator', text: 'RPM Process Tank Agitator'},
                    {data: 'rpm_cleaning_fat_tank_disperser', text: 'RPM Cleaning Fat Tank Disperser'},
                    {data: 'rpm_masterrefiner_300_mill', text: 'RPM Masterrfiner 300 Mill'},
                    {data: 'rpm_masterrefiner_300_feed_pump', text: 'RPM Masterrfiner 300 Feed Pump'},
                    {data: 'rpm_masterrefiner_300_discharge_pump', text: 'RPM Masterrfiner 300 Discharge Pump'},
                    {data: 'rpm_sugar_dosage_rotary_valve', text: 'RPM Sugar Dosage Rotary Valve'},
                    

            ]"></trend-view>

    </div>
    
</body>
</html>