<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" crossorigin src="/assets/vendor.3bd57d60.js"></script>
    <script type="module" crossorigin src="/assets/app.31ffec82.js"></script>
    <link rel="stylesheet" href="/assets/app.c316c2cb.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="LMDM - COT Pump Monitoring"
            url="http://10.10.10.111:9501/mqtt/2/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/bga/cotpump/lmdm'
            }"
            :default-data="[{data: 'Level', text: 'Level (%)'}]"
            :columns="[
                {data: 'Level', text: 'Level (%)'},
                {data: 'Temp', text: 'Temperature (&#8451;)'},
                {data: 'Auto_State', text: 'Mode (0: Manual, 1: Auto)'},
                {data: 'Pump1_Speed', text: 'Motor Pump 1 (Hz)'},
                {data: 'Pump2_Speed', text: 'Motor Pump 2 (Hz)'},
                {data: 'Pump3_State', text: 'Motor Pump 3 (0: Off, 1: On)'}
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="LMDM - COT Pump Monitoring"
            url="http://10.10.10.111:9501/trend/2/data"
            :default-data="[{data: 'level', text: 'Level (%)'}]"
            :columns="[
                    {data: 'level', text: 'Level (%)'},
                    {data: 'temp', text: 'Temperature (&#8451;)'},
                    {data: 'mode', text: 'Mode (0: Manual, 1: Auto)'},
                    {data: 'pump_1_hz', text: 'Motor Pump 1 (Hz)'},
                    {data: 'pump_2_hz', text: 'Motor Pump 2 (Hz)'},
                    {data: 'pump_3_state', text: 'Motor Pump 3 (0: Off, 1: On)'}
            ]"></trend-view>

    </div>
    
</body>
</html>