<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" crossorigin src="/assets/vendor.3bd57d60.js"></script>
    <script type="module" crossorigin src="/assets/app.31ffec82.js"></script>
    <link rel="stylesheet" href="/assets/app.c316c2cb.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Tank Trend View Live"
            url="http://10.10.10.111:9501/mqtt/2/log"
            :mqtt="{
                url: 'ws://10.10.10.111:9001',
                username: 'mqtt01',
                password: 'password123',
                topic: 'data/gmk/k/pkp1',
                timefield: 'ts'
            }"
            :default-data="[{data: 'ai_module_1[0]', text: 'Temp Tank 1'}]"
            :columns="[
                {data: 'ai_module_1[0]', text: 'Temp Tank 1'},
                {data: 'ai_module_1[1]', text: 'Temp Piping 1'},
                {data: 'ai_module_1[2]', text: 'Level Tank 1'},
                {data: 'ai_module_1[3]', text: 'Temp Tank 2'},
                {data: 'ai_module_1[4]', text: 'Temp Piping 2'},
                {data: 'ai_module_1[5]', text: 'Level Tank 2'},
                {data: 'ai_module_1[6]', text: 'Temp Tank 3'},
                {data: 'ai_module_1[7]', text: 'Temp Piping 3'},

                {data: 'ai_module_2[0]', text: 'Level Tank 3'},
                {data: 'ai_module_2[1]', text: 'Temp Tank 4  '},
                {data: 'ai_module_2[2]', text: 'Temp Piping 4'},
                {data: 'ai_module_2[3]', text: 'Level Tank 4'},
                {data: 'ai_module_2[4]', text: 'Temp Tank 5'},
                {data: 'ai_module_2[5]', text: 'Temp Piping 5'},
                {data: 'ai_module_2[6]', text: 'Level Tank 5'},
                {data: 'ai_module_2[7]', text: 'Temp Tank 6'},

                {data: 'ai_module_3[0]', text: 'Temp Piping 6'},
                {data: 'ai_module_3[1]', text: 'Level Tank 6'},
                {data: 'ai_module_3[2]', text: 'Temp Tank 7'},
                {data: 'ai_module_3[3]', text: 'Temp Piping 7'},
                {data: 'ai_module_3[4]', text: 'Level Tank 7'},
                {data: 'ai_module_3[5]', text: 'Temp Tank 8'},
                {data: 'ai_module_3[6]', text: 'Temp Piping 8'},
                {data: 'ai_module_3[7]', text: 'Level Tank 8'},

                {data: 'ai_module_4[0]', text: 'Temp Tank 9'},
                {data: 'ai_module_4[1]', text: 'Temp Piping 9'},
                {data: 'ai_module_4[2]', text: 'Level Tank 9'},
                {data: 'ai_module_4[3]', text: 'Temp Tank 10'},
                {data: 'ai_module_4[4]', text: 'Temp Piping 10'},
                {data: 'ai_module_4[5]', text: 'Level Tank 10'},
                {data: 'ai_module_4[6]', text: 'Temp Tank 11'},
                {data: 'ai_module_4[7]', text: 'Temp Piping 11'},

                {data: 'ai_module_5[0]', text: 'Level Tank 11'},
                {data: 'ai_module_5[1]', text: 'Temp Tank 12'},
                {data: 'ai_module_5[2]', text: 'Temp Piping 12'},
                {data: 'ai_module_5[3]', text: 'Level Tank 12'},
                {data: 'ai_module_5[4]', text: 'Temp Tank 13'},
                {data: 'ai_module_5[5]', text: 'Temp Piping 13'},
                {data: 'ai_module_5[6]', text: 'Level Tank 13'},
                {data: 'ai_module_5[7]', text: 'Temp Tank 14'},

                {data: 'ai_module_6[0]', text: 'Temp Piping 14'},
                {data: 'ai_module_6[1]', text: 'Level Tank 14'},
                {data: 'ai_module_6[2]', text: 'Temp Tank 15'},
                {data: 'ai_module_6[3]', text: 'Temp Piping 15'},
                {data: 'ai_module_6[4]', text: 'Level Tank 15'},
                {data: 'ai_module_6[5]', text: 'Temp Tank 16'},
                {data: 'ai_module_6[6]', text: 'Temp Piping 16'},
                {data: 'ai_module_6[7]', text: 'Level Tank 16'},

                {data: 'ai_module_7[0]', text: 'Temp Tank 17'},
                {data: 'ai_module_7[1]', text: 'Temp Piping 17'},
                {data: 'ai_module_7[2]', text: 'Level Tank 17'},
                {data: 'ai_module_7[3]', text: 'Temp Tank 18'},
                {data: 'ai_module_7[4]', text: 'Temp Piping 18'},
                {data: 'ai_module_7[5]', text: 'Level Tank 18'},
                {data: 'ai_module_7[6]', text: 'Temp Tank 19'},
                {data: 'ai_module_7[7]', text: 'Temp Piping 19'},

                {data: 'ai_module_8[0]', text: 'Level Tank 19'},
                {data: 'ai_module_8[1]', text: 'Temp Tank 20'},
                {data: 'ai_module_8[2]', text: 'Temp Piping 20'},
                {data: 'ai_module_8[3]', text: 'Level Tank 20'},
                {data: 'ai_module_8[4]', text: 'Temp Tank 21'},
                {data: 'ai_module_8[5]', text: 'Temp Piping 21'},
                {data: 'ai_module_8[6]', text: 'Level Tank 21'},
                {data: 'ai_module_8[7]', text: 'Temp Tank 22'},

                {data: 'ai_module_9[0]', text: 'Temp Piping 22'},
                {data: 'ai_module_9[1]', text: 'Level Tank 22'},
                {data: 'ai_module_9[2]', text: 'Temp Tank 23'},
                {data: 'ai_module_9[3]', text: 'Temp Piping 23'},
                {data: 'ai_module_9[4]', text: 'Level Tank 23'},
                {data: 'ai_module_9[5]', text: 'Temp Tank 24'},
                {data: 'ai_module_9[6]', text: 'Temp Piping 24'},
                {data: 'ai_module_9[7]', text: 'Level Tank 24'},

                {data: 'ai_module_10[0]', text: 'Temp Tank 25'},
                {data: 'ai_module_10[1]', text: 'Temp Piping 25'},
                {data: 'ai_module_10[2]', text: 'Level Tank 25'},
                {data: 'ai_module_10[3]', text: 'Temp Tank 26'},
                {data: 'ai_module_10[4]', text: 'Temp Piping 26'},
                {data: 'ai_module_10[5]', text: 'Level Tank 26'},
                {data: 'ai_module_10[6]', text: 'Temp Tank 27'},
                {data: 'ai_module_10[7]', text: 'Temp Piping 27'},

                {data: 'ai_module_11[0]', text: 'Level Tank 27'},
                {data: 'ai_module_11[1]', text: 'Temp Tank 28'},
                {data: 'ai_module_11[2]', text: 'Temp Piping 28'},
                {data: 'ai_module_11[3]', text: 'Level Tank 28'},
                {data: 'ai_module_11[4]', text: 'Temp Tank 29'},
                {data: 'ai_module_11[5]', text: 'Temp Piping 29'},
                {data: 'ai_module_11[6]', text: 'Level Tank 29'},
                {data: 'ai_module_11[7]', text: 'Temp Tank 30'},

                {data: 'ai_module_12[0]', text: 'Temp Piping 30'},
                {data: 'ai_module_12[1]', text: 'Level Tank 30'},
                {data: 'ai_module_12[2]', text: 'Temp Tank 31'},
                {data: 'ai_module_12[3]', text: 'Temp Piping 31'},
                {data: 'ai_module_12[4]', text: 'Level Tank 31'},
                {data: 'ai_module_12[5]', text: 'Temp Tank 32'},
                {data: 'ai_module_12[6]', text: 'Temp Piping 32'},
                {data: 'ai_module_12[7]', text: 'Level Tank 32'},

                {data: 'ai_module_13[0]', text: 'Temp Tank 33'},
                {data: 'ai_module_13[1]', text: 'Temp Piping 33'},
                {data: 'ai_module_13[2]', text: 'Level Tank 33'},
                {data: 'ai_module_13[3]', text: 'Temp Tank 34'},
                {data: 'ai_module_13[4]', text: 'Temp Piping 34'},
                {data: 'ai_module_13[5]', text: 'Level Tank 34'},
                {data: 'ai_module_13[6]', text: 'Temp Tank 35'},
                {data: 'ai_module_13[7]', text: 'Temp Piping 35'},

                {data: 'ai_module_14[0]', text: 'Level Tank 35'},
                {data: 'ai_module_14[1]', text: 'Temp Tank 36'},
                {data: 'ai_module_14[2]', text: 'Temp Piping 36'},
                {data: 'ai_module_14[3]', text: 'Level Tank 36'},
                {data: 'ai_module_14[4]', text: 'Temp Tank 37'},
                {data: 'ai_module_14[5]', text: 'Temp Piping 37'},
                {data: 'ai_module_14[6]', text: 'Level Tank 37'},
                {data: 'ai_module_14[7]', text: 'Temp Tank 38'},

                {data: 'ai_module_15[0]', text: 'Temp Piping 38'},
                {data: 'ai_module_15[1]', text: 'Level Tank 38'},
                {data: 'ai_module_15[2]', text: 'Temp Tank 39'},
                {data: 'ai_module_15[3]', text: 'Temp Piping 39'},
                {data: 'ai_module_15[4]', text: 'Level Tank 39'},
                {data: 'ai_module_15[5]', text: 'Temp Tank 40'},
                {data: 'ai_module_15[6]', text: 'Temp Piping 40'},
                {data: 'ai_module_15[7]', text: 'Level Tank 40'},

                {data: 'di_module_1[0]', text: 'Pump 1 Run'},
                {data: 'di_module_1[1]', text: 'Pump 2 Run'},
                {data: 'di_module_1[2]', text: 'Pump 3 Run'},
                {data: 'di_module_1[3]', text: 'Pump 4 Run'},
                {data: 'di_module_1[4]', text: 'Pump 5 Run'},
                {data: 'di_module_1[5]', text: 'Pump 6 Run'},
                {data: 'di_module_1[6]', text: 'Pump 7 Run'},
                {data: 'di_module_1[7]', text: 'Pump 8 Run'},
                {data: 'di_module_1[8]', text: 'Pump 9 Run'},
                {data: 'di_module_1[9]', text: 'Pump 10 Run'},
                {data: 'di_module_1[10]', text: 'Pump 11 Run'},
                {data: 'di_module_1[11]', text: 'Pump 12 Run'},
                {data: 'di_module_1[12]', text: 'Pump 13 Run'},
                {data: 'di_module_1[13]', text: 'Pump 14 Run'},
                {data: 'di_module_1[14]', text: 'Pump 15 Run'},
                {data: 'di_module_1[15]', text: 'Pump 16 Run'},

                {data: 'di_module_2[0]', text: 'Pump 17 Run'},
                {data: 'di_module_2[1]', text: 'Pump 18 Run'},
                {data: 'di_module_2[2]', text: 'Pump 19 Run'},
                {data: 'di_module_2[3]', text: 'Pump 20 Run'},
                {data: 'di_module_2[4]', text: 'Pump 21 Run'},
                {data: 'di_module_2[5]', text: 'Pump 22 Run'},
                {data: 'di_module_2[6]', text: 'Pump 23 Run'},
                {data: 'di_module_2[7]', text: 'Pump 24 Run'},
                {data: 'di_module_2[8]', text: 'Pump 25 Run'},
                {data: 'di_module_2[9]', text: 'Pump 26 Run'},
                {data: 'di_module_2[10]', text: 'Pump 27 Run'},
                {data: 'di_module_2[11]', text: 'Pump 28 Run'},
                {data: 'di_module_2[12]', text: 'Pump 29 Run'},
                {data: 'di_module_2[13]', text: 'Pump 30 Run'},
                {data: 'di_module_2[14]', text: 'Pump 31 Run'},
                {data: 'di_module_2[15]', text: 'Pump 32 Run'},

                {data: 'di_module_3[0]', text: 'Pump 33 Run'},
                {data: 'di_module_3[1]', text: 'Pump 34 Run'},
                {data: 'di_module_3[2]', text: 'Pump 35 Run'},
                {data: 'di_module_3[3]', text: 'Pump 36 Run'},
                {data: 'di_module_3[4]', text: 'Pump 37 Run'},
                {data: 'di_module_3[5]', text: 'Pump 38 Run'},
                {data: 'di_module_3[6]', text: 'Pump 39 Run'},
                {data: 'di_module_3[7]', text: 'Pump 40 Run'},


                {data: 'di_module_4[0]', text: 'Agitator 1 Run'},
                {data: 'di_module_4[1]', text: 'Agitator 2 Run'},
                {data: 'di_module_4[2]', text: 'Agitator 3 Run'},
                {data: 'di_module_4[3]', text: 'Agitator 4 Run'},
                {data: 'di_module_4[4]', text: 'Agitator 5 Run'},
                {data: 'di_module_4[5]', text: 'Agitator 6 Run'},
                {data: 'di_module_4[6]', text: 'Agitator 7 Run'},
                {data: 'di_module_4[7]', text: 'Agitator 8 Run'},
                {data: 'di_module_4[8]', text: 'Agitator 9 Run'},
                {data: 'di_module_4[9]', text: 'Agitator 10 Run'},
                {data: 'di_module_4[10]', text: 'Agitator 11 Run'},
                {data: 'di_module_4[11]', text: 'Agitator 12 Run'},
                {data: 'di_module_4[12]', text: 'Agitator 13 Run'},
                {data: 'di_module_4[13]', text: 'Agitator 14 Run'},
                {data: 'di_module_4[14]', text: 'Agitator 15 Run'},
                {data: 'di_module_4[15]', text: 'Agitator 16 Run'},

                {data: 'di_module_5[0]', text: 'Agitator 17 Run'},
                {data: 'di_module_5[1]', text: 'Agitator 18 Run'},
                {data: 'di_module_5[2]', text: 'Agitator 19 Run'},
                {data: 'di_module_5[3]', text: 'Agitator 20 Run'},
                {data: 'di_module_5[4]', text: 'Agitator 21 Run'},
                {data: 'di_module_5[5]', text: 'Agitator 22 Run'},
                {data: 'di_module_5[6]', text: 'Agitator 23 Run'},
                {data: 'di_module_5[7]', text: 'Agitator 24 Run'},
                {data: 'di_module_5[8]', text: 'Agitator 25 Run'},
                {data: 'di_module_5[9]', text: 'Agitator 26 Run'},
                {data: 'di_module_5[10]', text: 'Agitator 27 Run'},
                {data: 'di_module_5[11]', text: 'Agitator 28 Run'},
                {data: 'di_module_5[12]', text: 'Agitator 29 Run'},
                {data: 'di_module_5[13]', text: 'Agitator 30 Run'},
                {data: 'di_module_5[14]', text: 'Agitator 31 Run'},
                {data: 'di_module_5[15]', text: 'Agitator 32 Run'},

                {data: 'di_module_6[0]', text: 'Agitator 33 Run'},
                {data: 'di_module_6[1]', text: 'Agitator 34 Run'},
                {data: 'di_module_6[2]', text: 'Agitator 35 Run'},
                {data: 'di_module_6[3]', text: 'Agitator 36 Run'},
                {data: 'di_module_6[4]', text: 'Agitator 37 Run'},
                {data: 'di_module_6[5]', text: 'Agitator 38 Run'},
                {data: 'di_module_6[6]', text: 'Agitator 39 Run'},
                {data: 'di_module_6[7]', text: 'Agitator 40 Run'}
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="Tank Trend View Historical"
            url="http://10.10.10.111:9501/trend/2/data"
            :default-data="[{data: 'ai_module_1[0]', text: 'Temp Tank 1'}]"
            :columns="[
                {data: 'ai_module_1[0]', text: 'Temp Tank 1'},
                {data: 'ai_module_1[1]', text: 'Temp Piping 1'},
                {data: 'ai_module_1[2]', text: 'Level Tank 1'},
                {data: 'ai_module_1[3]', text: 'Temp Tank 2'},
                {data: 'ai_module_1[4]', text: 'Temp Piping 2'},
                {data: 'ai_module_1[5]', text: 'Level Tank 2'},
                {data: 'ai_module_1[6]', text: 'Temp Tank 3'},
                {data: 'ai_module_1[7]', text: 'Temp Piping 3'},

                {data: 'ai_module_2[0]', text: 'Level Tank 3'},
                {data: 'ai_module_2[1]', text: 'Temp Tank 4  '},
                {data: 'ai_module_2[2]', text: 'Temp Piping 4'},
                {data: 'ai_module_2[3]', text: 'Level Tank 4'},
                {data: 'ai_module_2[4]', text: 'Temp Tank 5'},
                {data: 'ai_module_2[5]', text: 'Temp Piping 5'},
                {data: 'ai_module_2[6]', text: 'Level Tank 5'},
                {data: 'ai_module_2[7]', text: 'Temp Tank 6'},

                {data: 'ai_module_3[0]', text: 'Temp Piping 6'},
                {data: 'ai_module_3[1]', text: 'Level Tank 6'},
                {data: 'ai_module_3[2]', text: 'Temp Tank 7'},
                {data: 'ai_module_3[3]', text: 'Temp Piping 7'},
                {data: 'ai_module_3[4]', text: 'Level Tank 7'},
                {data: 'ai_module_3[5]', text: 'Temp Tank 8'},
                {data: 'ai_module_3[6]', text: 'Temp Piping 8'},
                {data: 'ai_module_3[7]', text: 'Level Tank 8'},

                {data: 'ai_module_4[0]', text: 'Temp Tank 9'},
                {data: 'ai_module_4[1]', text: 'Temp Piping 9'},
                {data: 'ai_module_4[2]', text: 'Level Tank 9'},
                {data: 'ai_module_4[3]', text: 'Temp Tank 10'},
                {data: 'ai_module_4[4]', text: 'Temp Piping 10'},
                {data: 'ai_module_4[5]', text: 'Level Tank 10'},
                {data: 'ai_module_4[6]', text: 'Temp Tank 11'},
                {data: 'ai_module_4[7]', text: 'Temp Piping 11'},

                {data: 'ai_module_5[0]', text: 'Level Tank 11'},
                {data: 'ai_module_5[1]', text: 'Temp Tank 12'},
                {data: 'ai_module_5[2]', text: 'Temp Piping 12'},
                {data: 'ai_module_5[3]', text: 'Level Tank 12'},
                {data: 'ai_module_5[4]', text: 'Temp Tank 13'},
                {data: 'ai_module_5[5]', text: 'Temp Piping 13'},
                {data: 'ai_module_5[6]', text: 'Level Tank 13'},
                {data: 'ai_module_5[7]', text: 'Temp Tank 14'},

                {data: 'ai_module_6[0]', text: 'Temp Piping 14'},
                {data: 'ai_module_6[1]', text: 'Level Tank 14'},
                {data: 'ai_module_6[2]', text: 'Temp Tank 15'},
                {data: 'ai_module_6[3]', text: 'Temp Piping 15'},
                {data: 'ai_module_6[4]', text: 'Level Tank 15'},
                {data: 'ai_module_6[5]', text: 'Temp Tank 16'},
                {data: 'ai_module_6[6]', text: 'Temp Piping 16'},
                {data: 'ai_module_6[7]', text: 'Level Tank 16'},

                {data: 'ai_module_7[0]', text: 'Temp Tank 17'},
                {data: 'ai_module_7[1]', text: 'Temp Piping 17'},
                {data: 'ai_module_7[2]', text: 'Level Tank 17'},
                {data: 'ai_module_7[3]', text: 'Temp Tank 18'},
                {data: 'ai_module_7[4]', text: 'Temp Piping 18'},
                {data: 'ai_module_7[5]', text: 'Level Tank 18'},
                {data: 'ai_module_7[6]', text: 'Temp Tank 19'},
                {data: 'ai_module_7[7]', text: 'Temp Piping 19'},

                {data: 'ai_module_8[0]', text: 'Level Tank 19'},
                {data: 'ai_module_8[1]', text: 'Temp Tank 20'},
                {data: 'ai_module_8[2]', text: 'Temp Piping 20'},
                {data: 'ai_module_8[3]', text: 'Level Tank 20'},
                {data: 'ai_module_8[4]', text: 'Temp Tank 21'},
                {data: 'ai_module_8[5]', text: 'Temp Piping 21'},
                {data: 'ai_module_8[6]', text: 'Level Tank 21'},
                {data: 'ai_module_8[7]', text: 'Temp Tank 22'},

                {data: 'ai_module_9[0]', text: 'Temp Piping 22'},
                {data: 'ai_module_9[1]', text: 'Level Tank 22'},
                {data: 'ai_module_9[2]', text: 'Temp Tank 23'},
                {data: 'ai_module_9[3]', text: 'Temp Piping 23'},
                {data: 'ai_module_9[4]', text: 'Level Tank 23'},
                {data: 'ai_module_9[5]', text: 'Temp Tank 24'},
                {data: 'ai_module_9[6]', text: 'Temp Piping 24'},
                {data: 'ai_module_9[7]', text: 'Level Tank 24'},

                {data: 'ai_module_10[0]', text: 'Temp Tank 25'},
                {data: 'ai_module_10[1]', text: 'Temp Piping 25'},
                {data: 'ai_module_10[2]', text: 'Level Tank 25'},
                {data: 'ai_module_10[3]', text: 'Temp Tank 26'},
                {data: 'ai_module_10[4]', text: 'Temp Piping 26'},
                {data: 'ai_module_10[5]', text: 'Level Tank 26'},
                {data: 'ai_module_10[6]', text: 'Temp Tank 27'},
                {data: 'ai_module_10[7]', text: 'Temp Piping 27'},

                {data: 'ai_module_11[0]', text: 'Level Tank 27'},
                {data: 'ai_module_11[1]', text: 'Temp Tank 28'},
                {data: 'ai_module_11[2]', text: 'Temp Piping 28'},
                {data: 'ai_module_11[3]', text: 'Level Tank 28'},
                {data: 'ai_module_11[4]', text: 'Temp Tank 29'},
                {data: 'ai_module_11[5]', text: 'Temp Piping 29'},
                {data: 'ai_module_11[6]', text: 'Level Tank 29'},
                {data: 'ai_module_11[7]', text: 'Temp Tank 30'},

                {data: 'ai_module_12[0]', text: 'Temp Piping 30'},
                {data: 'ai_module_12[1]', text: 'Level Tank 30'},
                {data: 'ai_module_12[2]', text: 'Temp Tank 31'},
                {data: 'ai_module_12[3]', text: 'Temp Piping 31'},
                {data: 'ai_module_12[4]', text: 'Level Tank 31'},
                {data: 'ai_module_12[5]', text: 'Temp Tank 32'},
                {data: 'ai_module_12[6]', text: 'Temp Piping 32'},
                {data: 'ai_module_12[7]', text: 'Level Tank 32'},

                {data: 'ai_module_13[0]', text: 'Temp Tank 33'},
                {data: 'ai_module_13[1]', text: 'Temp Piping 33'},
                {data: 'ai_module_13[2]', text: 'Level Tank 33'},
                {data: 'ai_module_13[3]', text: 'Temp Tank 34'},
                {data: 'ai_module_13[4]', text: 'Temp Piping 34'},
                {data: 'ai_module_13[5]', text: 'Level Tank 34'},
                {data: 'ai_module_13[6]', text: 'Temp Tank 35'},
                {data: 'ai_module_13[7]', text: 'Temp Piping 35'},

                {data: 'ai_module_14[0]', text: 'Level Tank 35'},
                {data: 'ai_module_14[1]', text: 'Temp Tank 36'},
                {data: 'ai_module_14[2]', text: 'Temp Piping 36'},
                {data: 'ai_module_14[3]', text: 'Level Tank 36'},
                {data: 'ai_module_14[4]', text: 'Temp Tank 37'},
                {data: 'ai_module_14[5]', text: 'Temp Piping 37'},
                {data: 'ai_module_14[6]', text: 'Level Tank 37'},
                {data: 'ai_module_14[7]', text: 'Temp Tank 38'},

                {data: 'ai_module_15[0]', text: 'Temp Piping 38'},
                {data: 'ai_module_15[1]', text: 'Level Tank 38'},
                {data: 'ai_module_15[2]', text: 'Temp Tank 39'},
                {data: 'ai_module_15[3]', text: 'Temp Piping 39'},
                {data: 'ai_module_15[4]', text: 'Level Tank 39'},
                {data: 'ai_module_15[5]', text: 'Temp Tank 40'},
                {data: 'ai_module_15[6]', text: 'Temp Piping 40'},
                {data: 'ai_module_15[7]', text: 'Level Tank 40'},

                {data: 'di_module_1[0]', text: 'Pump 1 Run'},
                {data: 'di_module_1[1]', text: 'Pump 2 Run'},
                {data: 'di_module_1[2]', text: 'Pump 3 Run'},
                {data: 'di_module_1[3]', text: 'Pump 4 Run'},
                {data: 'di_module_1[4]', text: 'Pump 5 Run'},
                {data: 'di_module_1[5]', text: 'Pump 6 Run'},
                {data: 'di_module_1[6]', text: 'Pump 7 Run'},
                {data: 'di_module_1[7]', text: 'Pump 8 Run'},
                {data: 'di_module_1[8]', text: 'Pump 9 Run'},
                {data: 'di_module_1[9]', text: 'Pump 10 Run'},
                {data: 'di_module_1[10]', text: 'Pump 11 Run'},
                {data: 'di_module_1[11]', text: 'Pump 12 Run'},
                {data: 'di_module_1[12]', text: 'Pump 13 Run'},
                {data: 'di_module_1[13]', text: 'Pump 14 Run'},
                {data: 'di_module_1[14]', text: 'Pump 15 Run'},
                {data: 'di_module_1[15]', text: 'Pump 16 Run'},

                {data: 'di_module_2[0]', text: 'Pump 17 Run'},
                {data: 'di_module_2[1]', text: 'Pump 18 Run'},
                {data: 'di_module_2[2]', text: 'Pump 19 Run'},
                {data: 'di_module_2[3]', text: 'Pump 20 Run'},
                {data: 'di_module_2[4]', text: 'Pump 21 Run'},
                {data: 'di_module_2[5]', text: 'Pump 22 Run'},
                {data: 'di_module_2[6]', text: 'Pump 23 Run'},
                {data: 'di_module_2[7]', text: 'Pump 24 Run'},
                {data: 'di_module_2[8]', text: 'Pump 25 Run'},
                {data: 'di_module_2[9]', text: 'Pump 26 Run'},
                {data: 'di_module_2[10]', text: 'Pump 27 Run'},
                {data: 'di_module_2[11]', text: 'Pump 28 Run'},
                {data: 'di_module_2[12]', text: 'Pump 29 Run'},
                {data: 'di_module_2[13]', text: 'Pump 30 Run'},
                {data: 'di_module_2[14]', text: 'Pump 31 Run'},
                {data: 'di_module_2[15]', text: 'Pump 32 Run'},

                {data: 'di_module_3[0]', text: 'Pump 33 Run'},
                {data: 'di_module_3[1]', text: 'Pump 34 Run'},
                {data: 'di_module_3[2]', text: 'Pump 35 Run'},
                {data: 'di_module_3[3]', text: 'Pump 36 Run'},
                {data: 'di_module_3[4]', text: 'Pump 37 Run'},
                {data: 'di_module_3[5]', text: 'Pump 38 Run'},
                {data: 'di_module_3[6]', text: 'Pump 39 Run'},
                {data: 'di_module_3[7]', text: 'Pump 40 Run'},


                {data: 'di_module_4[0]', text: 'Agitator 1 Run'},
                {data: 'di_module_4[1]', text: 'Agitator 2 Run'},
                {data: 'di_module_4[2]', text: 'Agitator 3 Run'},
                {data: 'di_module_4[3]', text: 'Agitator 4 Run'},
                {data: 'di_module_4[4]', text: 'Agitator 5 Run'},
                {data: 'di_module_4[5]', text: 'Agitator 6 Run'},
                {data: 'di_module_4[6]', text: 'Agitator 7 Run'},
                {data: 'di_module_4[7]', text: 'Agitator 8 Run'},
                {data: 'di_module_4[8]', text: 'Agitator 9 Run'},
                {data: 'di_module_4[9]', text: 'Agitator 10 Run'},
                {data: 'di_module_4[10]', text: 'Agitator 11 Run'},
                {data: 'di_module_4[11]', text: 'Agitator 12 Run'},
                {data: 'di_module_4[12]', text: 'Agitator 13 Run'},
                {data: 'di_module_4[13]', text: 'Agitator 14 Run'},
                {data: 'di_module_4[14]', text: 'Agitator 15 Run'},
                {data: 'di_module_4[15]', text: 'Agitator 16 Run'},

                {data: 'di_module_5[0]', text: 'Agitator 17 Run'},
                {data: 'di_module_5[1]', text: 'Agitator 18 Run'},
                {data: 'di_module_5[2]', text: 'Agitator 19 Run'},
                {data: 'di_module_5[3]', text: 'Agitator 20 Run'},
                {data: 'di_module_5[4]', text: 'Agitator 21 Run'},
                {data: 'di_module_5[5]', text: 'Agitator 22 Run'},
                {data: 'di_module_5[6]', text: 'Agitator 23 Run'},
                {data: 'di_module_5[7]', text: 'Agitator 24 Run'},
                {data: 'di_module_5[8]', text: 'Agitator 25 Run'},
                {data: 'di_module_5[9]', text: 'Agitator 26 Run'},
                {data: 'di_module_5[10]', text: 'Agitator 27 Run'},
                {data: 'di_module_5[11]', text: 'Agitator 28 Run'},
                {data: 'di_module_5[12]', text: 'Agitator 29 Run'},
                {data: 'di_module_5[13]', text: 'Agitator 30 Run'},
                {data: 'di_module_5[14]', text: 'Agitator 31 Run'},
                {data: 'di_module_5[15]', text: 'Agitator 32 Run'},

                {data: 'di_module_6[0]', text: 'Agitator 33 Run'},
                {data: 'di_module_6[1]', text: 'Agitator 34 Run'},
                {data: 'di_module_6[2]', text: 'Agitator 35 Run'},
                {data: 'di_module_6[3]', text: 'Agitator 36 Run'},
                {data: 'di_module_6[4]', text: 'Agitator 37 Run'},
                {data: 'di_module_6[5]', text: 'Agitator 38 Run'},
                {data: 'di_module_6[6]', text: 'Agitator 39 Run'},
                {data: 'di_module_6[7]', text: 'Agitator 40 Run'}

            ]"></trend-view>

    </div>
    
</body>
</html>